
ul#nav-list li a, ul#nav-list li a:visited {
	color: #FFF;
}
ul#nav-list li a:hover {
	color: #3362B7;
}
.nav-item {
	background-color: gray;
	border: 1px solid black;
}
#header-nav {
	background-color: #333;
	border-radius: 0;
	border: 0;
}

.navbar-brand a:hover {
	text-decoration: none;
	font-weight: bold;
}

.container {
	background-color: #333;
	color: #fff;
}
